<%= javascript_include_tag "dashboard" %>
<%= javascript_include_tag "highcharts3.02/highcharts" %>
<%= javascript_include_tag "highcharts3.02/modules/exporting" %>
<%= stylesheet_link_tag "dashboard", media: "all" %>

<%= form_tag admin_dashboard_path, method: :post, id: "collection_selection" do %>
	<input name="q[webstore_id_eq]" id="webstore_id" type="hidden" value="">
	<input name="scope" id="scope" type="hidden" value="daily">
	<input name="is_admin" id="is_admin" type="hidden" value="<%=admin%>">
	<input id="id" name="id" value="get_order_statistics" type="hidden">
  <div id="pathurlinfo" class="hidden" 
    data-dashboardgetorderstatisticsurl="<%= dashboard_get_order_statistics_url %>" 
    data-dashboardgetwebstoresurl="<%= dashboard_get_webstores_url %>">

  	<div class="table_tools">
      	
    	<ul class="scopes table_tools_segmented_control">
      		<li class="scope daily selected" data-scope="daily">
        		<a href="#" class="table_tools_button">
					Daily
        		</a>
      		</li>
      		<li class="scope weekly" data-scope="weekly">
        		<a href="#" class="table_tools_button">
					Weekly
        		</a>
      		</li>
      		<li class="scope monthly" data-scope="monthly">
        		<a href="#" class="table_tools_button">
					Monthly
        		</a>
      		</li>
    	</ul>
		
		<div class="dropdown_menu" id="webstore_selector">
        	<a class="dropdown_menu_button" href="#">All Webstores</a>
        	<div class="dropdown_menu_list_wrapper" style="display:none;">
				<div class="dropdown_menu_nipple"></div>
	          	<ul class="dropdown_menu_list">
	          	</ul>
        	</div>
      	</div>
		
  	</div>
  	
  	<div class="paginated_collection">
    	<div class="paginated_collection_contents">
      		<div class="index_content">
        		<div class="index_as_table">
        			
        		</div>
      		</div>
    	</div>
	    <div id="index_footer">
	    </div>
  	</div>
<% end %>
