<% 
if @page && @page == 'get_webstores' 
%>
	<li data-webstore-id="" class="with-seperator selected"><a href="#">All Webstores</a></li>
	<% unless @webstores.empty? 
		@webstores.each do |webstore|
	%>
	<li data-webstore-id="<%=webstore.id %>"><a href="#"><%=webstore.name %></a></li>
	<% 	end
	end %>
<%	else   %>

<% unless @orders.empty? %>
	<% @orders.each do |order| %>
		<tr class="odd">
            <td class="date" nowrap="nowrap"><%=order.ordered_date %></td>
            <td class="regsitered-orders"><%=order.registered_orders %></td>
            <td class="registered-order-items"><%=order.registered_order_items %></td>
            <td class="emails-sent"><%=order.emails_sent %></td>
            <td class="emails-delivered">-</td>
			<td class="emails-unique-opens">-</td>
			<td class="emails-clicks"><%=order.emails_clicks %></td>
			<td class="items-shared"><%=order.items_shared %></td>
			<td class="shared-items-click-count"><%=order.shared_items_click_count %></td>
			<td classs="shared-items-clicks-average"><%=order.shared_items_clicks_average %></td>
      	</tr>
	<% end %>	
<% else %>
		<tr><td colspan="10"><b><i>No records now</i></b></td></tr>
<% end %>

<%
end
%>