<% provide(:title, "Comparte tu reciente compra en las redes sociales!") %>

<div class="row">
    <div class="span6 offset3">
        <div id="sharing-logo" class="center">
            <%= image_tag("laComparto_logo.png", alt: "LaComparto Logo" ) %>
        </div>
    </div>
</div>

<div class="row">
    <div class="span8 offset2">

        <div id="sharing-container">

            <div class="row-fluid">
                <div class="span10 offset1">
                    <h3>Comparte tu reciente compra en las redes sociales!</h3>
                    <h4>
                        Aquí tienes los productos que has comprado y puedes compartir con tus amigos.
                        <% if @order.has_discount? %>
                            Al compartir <%= @order.webstore.name %> te regalará un código para tener un <%= @order.discount_code_perc.to_i %>% de descuento en tu siguiente compra!
                        <% end %>
                    </h4>
                </div>
            </div>

            <div class="lineBr"></div>

            <% if @success %>
                <div class="success-box">
                    <p>Se ha compartido tu compra exitosamente!!!</p>
                </div>
            <% else %>
                <% if @order.nil? %>
                    <div class="error-box">
                        <p>Link no existe</p>
                    </div>
                <% else %>

                    <!-- About app button -->
                    <div class="row-fluid">
                        <div class="span6 offset3">
                            <button type="button" class="btn btn-large btn-block" data-toggle="modal" data-target="#aboutAppModal" data-backdrop="true" data-keyboard="false">Acerca de la aplicación</button>
                        </div>
                    </div>

                    <!-- FB login/out button -->
                    <div class="row-fluid loginrow">
                        <div class="span6 offset3">
                            <br>
                            <button id="login" class="btn btn-primary btn-large btn-block disabled" disabled onClick="authUser();" data-logintext="Ingresar con Facebook" data-logouttext="Logout">Comprobando el estado de Facebook ...</button>
                        </div>
                    </div>

                    <!-- About the App modal -->
                    <div id="aboutAppModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutAppModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="aboutAppModalLabel">Acerca de la aplicación</h3>
                        </div>
                        <div class="modal-body">
                            <p>LaComparto.com es una plataforma para compartir la felicidad que uno siente al recibir un producto que acabas de comprar y además recibir un descuento o beneficio por hacerlo.</p>
                            <p>La aplicación te pedirá que aceptes los permisos de Facebook. No te preocupes, los datos se utilizarán exclusivamente para propósitos de compartir y ningún dato será usado para otras intenciones.</p>
                            <p>Esperamos que te guste!</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        </div>
                    </div>

                    <!-- Success modal -->
                    <div id="successModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="successModalLabel">Gracias por compartir</h3>
                        </div>
                        <div class="modal-body">
                            <p>Gracias por compartir tu felicidad con tus amigos!
                                <% if (@order.discount_code_perc.to_i > 0) %>
                                    Obtén un <%= @order.discount_code_perc.to_i %>% de descuento en <%= link_to @order.webstore.url, @order.webstore.url %> usando el código
                                    <b id="disccode"><small id="discloader">(<%= image_tag("ajax-loader.gif", alt: "cargando", title: "") %>cargando)</small></b>.
                                    <br>
                                    Este código se ingresa en el último paso del carro de compras.
                                    Este código también te lo enviaremos a tu email.
                                <% end %>
                            </p>
                            <p>Sigue compartiendo tus productos favoritos!</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        </div>
                    </div>

                    <div class="lineBr"></div>

                    <!-- Order items -->
                    <%= render partial: "order_item", collection: @order.order_items %>

                    <!-- Logout button -->
                    <div class="row-fluid">
                        <div class="span2 offset10">
                            <button id="logout" class="btn btn-primary btn-small btn-block hide" onClick="authUser();">Logout</button>
                        </div>
                    </div>

                <% end %>
            <% end %>

        </div>

    </div>
</div>

<%= image_tag("bg_image-share-2000.jpg", alt: "background", title: "", id: "background" ) %>
<div id="pathurlinfo" class="hidden" data-getcodepath="<%= share_getcode_path %>" data-redirecturl="<%= share_doshare_redirect_url %>"></div>

