<% provide(:title, @user.name) %>

<%= gravatar_for @user %>
<p>
  <strong><%= @user.name %></strong><br>
  <span class="muted"><%= @user.email %></span>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
<%= link_to 'Change Password', change_password_path(@user), method: :post, class: "btn btn-primary" %>
