<% provide(:title, @user.name) %>
<h1>Profile</h1>

<div class="row">
  <div class="span1 offset3">
  <%= gravatar_for @user %>
  </div>

  <div class="span3">
    <strong><%= @user.name %></strong><br>
    <span class="muted"><%= @user.email %></span>
    <br><br>
  </div>

  <div class="span3">
    <strong>Profile options</strong><br>
    <ul>
      <li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
      <li><%= link_to 'Change Password', change_password_path(@user), method: :post %></li>
    </ul>

    <strong>Other options</strong><br>
    <ul>
      <li><%= link_to 'Retailer Portal', retailer_root_path %></li>
      <% if current_user.admin? %>
        <li><%= link_to 'Admin Portal', admin_root_path %></li>
      <% end %>
    </ul>
  </div>
</div>
