<footer class="footer">
  <small>
    <%= link_to "Qaddy", root_path %>
    &copy; <%= Date::today.year %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>
