<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="<%= asset_path 'favicon.png' %>" type="image/png" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= full_title(yield(:title)) %></title>

  <!-- CSS -->
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

  <!-- JS -->
  <%= javascript_include_tag "application" %>

  <!-- Other -->
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>

  <%= render 'layouts/footer' %>

  <div class="container">
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
</html>
