<!DOCTYPE html>
<html>
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Qaddy</title>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta property="og:title" content="GetQaddy.com - GetQaddy tag line here" /><meta property="og:type" content="company" /><meta property="og:site_name" content="GetQaddy.com" /><meta property="og:url" content="http://www.getqaddy.com/signup" /><meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/Fna5QDBTVbHxS9k.png" /><meta property="og:description" content="GetQaddy rocks!" />
</head>
<body>
	<div id="wrapper">

		<div id="header-wrapper">
			<div id="header">
	    		<div id="menu"><br/>Attract new online traffic in a <a href="#info">cost-efficient</a> way.</div>
				<div id="logo">
					<h1><%= image_tag("logo-qaddy2.png", :alt => "Qaddy") %></h1>
				</div>
			</div>
			<div></div>
		</div>
		<div id="header_bot"></div>
		<!-- end #header -->

		<div id="page">
			<%= yield %>
		</div>
		<!-- end #page -->

	</div>

	<div id="footer">
		<p>Copyright (c) <%= Time.now.year %> Qaddy. All rights reserved. </p>
	</div>
	<!-- end #footer -->

</body>
</html>
